/* CSS Document */

.logo {
    margin-left: 10px;
}

.calculator img {
    max-width: 25px;
    padding-right: 5px;
}

a:link,
a:visited {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="text"]:disabled {
    background-color: #FFF;
}

.input-group-text {
    width: 115px;
}

#bread {
    margin-left: auto;
    margin-right: 10px;
}